/*-------baggrundsbillede forside-------*/
body,
html {
    /*    height: 100%;*/
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgba(213, 228, 243, 0.51);
}

.bg {
    /* The image used */
    background-image: url(billeder/forside_bg.jpg);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*    position: absolute;*/
    z-index: 1;

}

.bgmønsterforside img {
    position: absolute;
    top: -7vw;
    opacity: 0.4
}


/*-------navigationsmenu-------*/

.navbar {
    left: 0vw;
    top: 0;
    /*    overflow: hidden;*/
    background-color: rgba(70, 162, 255, 0.72);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    border-bottom-right-radius: 6vw;


}

.navbar a {
    float: left;
    /*    font-size: 16px;*/
    font-size: 24px;
    color: white;
    text-align: center;
    /*    padding: 14px 16px;*/
    padding: 21px 24px;
    text-decoration: none;
}

.dropdown {
    float: left;
    /*    overflow: hidden;*/
    /*    position: absolute;*/
}

.dropdown .dropbtn {
    /*    font-size: 16px;*/
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    /*    padding: 14px 16px;*/
    padding: 21px 24px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(67, 91, 115, 0.53);
    /*    border-bottom-right-radius: 235vw;*/

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(213, 228, 243);
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.23);
    /*
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
*/
    /*    z-index: 1;*/
}

.dropdown-content a {
    font-size: 21.25 px;
    float: none;
    color: black;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: arial;
}

.dropdown-content a:hover {
    /*    background-color: #ddd;*/
    background-color: rgba(67, 91, 115, 0.53);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*-----dropdown tema 4 -----*/

.dropdown_tema_4 {
    float: left;
    /*    padding: 0px 59px*/
}

.dropdown_tema_4 .dropbtn {
    font-size: 4px;
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 21px 24px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-right: 50px
}


.dropdown_tema_4:hover .dropbtn {
    background-color: rgba(67, 91, 115, 0.53);
    border-bottom-right-radius: 6vw;

}

.dropdown_tema_4-content {
    display: none;
    position: absolute;
    background-color: #ce2e2e;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.23);
    z-index: 1;
}

.dropdown_tema_4-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_tema_4-content a:hover {
    background-color: #ddd;
}

.dropdown_tema_4:hover .dropdown-content {
    display: block;
}

/*-------velkomsttekst-------*/

.velkomsttekst {
    background-color: rgba(70, 162, 255, 0.49);

    top: 15vw;
    left: 0vw;
    position: absolute;
    font-size: 17.5px;
    color: white;
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
    font-family: arial;
    padding: 2vw;
}



/*
.velkomsttekst h1 {
    position: absolute;
    font-size: 100px;
    color: white;
}
*/
.velkomsttekst h2 {
    font-size: 20px;
}

.velkomsttekst h3 {
    font-size: 15px;
}


/*-------mere om mig knap-------*/


.mereommig {
    background-color: rgba(70, 162, 255, 0.49);

    top: 32vw;
    left: 2vw;
    position: absolute;
    border-radius: 2.5vw;
    /*
    border-bottom-right-radius: 2.5vw;
    border-top-right-radius: 2.5vw;
*/
    padding-left: 2vw;
    padding-right: 2vw;
    height: 2.7vw;
    width: 21vw;
    text-align: right;
}

.mereommig a {
    font-size: 2rem;
    font-family: arial;
    text-decoration: none;
    color: #ffffff;

}

.mereommig:hover {
    background-color: rgb(22, 130, 239);
    cursor: pointer;
}

#ommigsektion {
    font-family: arial;
    color: white;
}

/*-------baggrundsmønster-------*/

.bgmønster img {
    /*    width: 100%;*/
    /*    background-color: rgba(213, 228, 243, 0.51);*/
    position: relative;
    top: 0vw;
}

.bgmønster {
    /*    width: 100%;*/
    /*    background-color: rgba(213, 228, 243, 0.51);*/
    position: relative top: 0vw;
}


/*-------mere om mig sektion-------*/

.profilbillede {
    position: absolute;
    top: 69.4vw;
    left: 3vw;
    background-color: rgba(70, 162, 255, 0.49);
    border-radius: 12%;


}

.profilbillede img {
    background-repeat: no-repeat;
    border-radius: 12%;
    height: 21vw;
}

.infotekst {
    top: 0vw;
    left: 20vw;
    position: absolute;
    width: 40vw;
    font-size: 1.25rem;
    font-family: arial;
    color: white;
}


.profilbilledepattern1 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 68vw;
    left: 0vw;
    position: absolute;
    width: 20vw;
    height: 24vw;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
}

.profilbilledepattern2 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 67vw;
    left: 0vw;
    position: absolute;
    width: 70vw;
    height: 26vw;
    border-bottom-right-radius: 15vw;
    border-top-right-radius: 15vw;
}

.kontaktpattern1 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 67vw;
    right: 0vw;
    position: absolute;
    width: 25vw;
    height: 27vw;
    border-bottom-left-radius: 15vw;
    border-top-left-radius: 15vw;
}

.kontakttekst {
    top: 71vw;
    left: 79vw;
    position: absolute;
    width: 11vw;
    font-size: 1rem;
    font-family: arial;
    color: white;
}



/*-------Tema 1,2,3,4 CSS-------*/
.bgmønstertema img {
    position: absolute;
    top: -7vw;

}


.temabeskrivelse h1 {
    position: absolute;
    top: 15vw;
    left: 47vw;
    font-family: arial;
    text-align: left;
    color: rgba(67, 91, 115);
}

.temabeskrivelse_top {
    position: absolute;
    top: 22vw;
    left: 11vw;
    font-family: arial;
    text-align: left;
    color: rgba(67, 91, 115);
    font-size: 1.25rem;
    width: 80vw;
}

.temabeskrivelse_top_tema3 {
    position: absolute;
    top: 22vw;
    left: 9vw;
    font-family: arial;
    text-align: left;
    color: rgba(67, 91, 115);
    font-size: 1.25rem;
    width: 80vw;
}

.h1_underline {
    position: absolute;
    top: 20vw;
    left: 25vw;
    width: 50vw;
}

.temabeskrivelse p {
    position: absolute;
    top: 23vw;
    left: 28vw;
    font-family: arial;
    text-align: left;
    color: rgba(67, 91, 115);
    font-size: 1.5rem;
    width: 44vw;
}

.h2_opgave_link a {
    position: absolute;
    top: 23vw;
    left: 42vw;
    font-family: arial;
    text-align: left;
    color: rgba(67, 91, 115);
    font-size: 1.5rem;

}

/*

.opgave_link_pattern {
    position: absolute;
    top: 23vw;
    left: 40vw;
    background-color: rgba(70, 162, 255, 0.30);
    border-radius: 50%;
    height: 3vw;
    width: 30vw;
}
*/


/*
.splash {
    background-image: url(billeder/tema1/postmoderne/desktop.jpg);
    position: relative;
    top: 49vw;
    left: 0vw;
    height: 80%;
}
*/


.opgavebeskrivelse_underline {
    position: absolute;
    top: 15vw;
    left: 25vw;
    width: 50vw;
}

.opgavebeskrivelse h1 {
    position: absolute;
    top: 10vw;
    left: 25vw;
    margin: auto;
    font-family: arial;
    text-align: center;
    color: rgba(67, 91, 115);
    width: 50vw;
}

.pilotbeskrivelse {
    position: absolute;
    top: 32vw;
    left: 11vw;
    margin: auto;
    font-family: arial;
    text-align: left;
    color: rgba(67, 91, 115);
    width: 80vw;
    font-size: 1.5rem;
}

.opgavebeskrivelse p {
    position: absolute;
    top: 43vw;
    left: 28vw;
    font-family: arial;
    text-align: left;
    color: rgba(67, 91, 115);
    font-size: 1.5rem;
    width: 44vw;
}

.h2_opgave_link a {
    position: absolute;
    top: 18vw;
    left: 42vw;
    font-family: arial;
    text-align: left;
    color: rgba(67, 91, 115);
    font-size: 1.5rem;

}

/*-------boks 1-------*/

.opgavebillede_1 {
    position: absolute;
    top: 40vw;
    left: 0vw;
    background-repeat: no-repeat;
    /*    background-color: rgba(70, 162, 255, 0.49);*/
    border-radius: 12%;


}

.opgavebillede_1 img {
    background-repeat: no-repeat;
    border-top-right-radius: 12%;
    border-bottom-right-radius: 12%;
    height: 25vw;
}

.billedbeskrivelse_1 {
    top: 42.5vw;
    left: 48vw;
    position: absolute;
    width: 34vw;
    font-size: 1.2rem;
    font-family: arial;
    /*    color: rgba(67, 91, 115);*/
    color: rgba(0, 0, 0, 0.83);
}


.opgave_1_pattern_1 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 39vw;
    left: 0vw;
    position: absolute;
    width: 45.5vw;
    height: 27vw;
    border-bottom-right-radius: 14%;
    border-top-right-radius: 14%;
}

.opgave_1_pattern_2 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 38vw;
    left: 0vw;
    position: absolute;
    width: 90vw;
    height: 29vw;
    border-bottom-right-radius: 10vw;
    border-top-right-radius: 10vw;
}

/*-------boks 2-------*/

.opgavebillede_2 {
    position: absolute;
    top: 80vw;
    right: 0vw;
    background-repeat: no-repeat;
    /*    background-color: rgba(70, 162, 255, 0.49);*/
    border-radius: 12%;


}

.opgavebillede_2 img {
    background-repeat: no-repeat;
    border-top-left-radius: 12%;
    border-bottom-left-radius: 12%;
    height: 25vw;
}

.billedbeskrivelse_2 {
    top: 82.5vw;
    left: 16vw;
    position: absolute;
    width: 34vw;
    font-size: 1.2rem;
    font-family: arial;
    /*    color: rgba(67, 91, 115);*/
    color: rgba(0, 0, 0, 0.83);
}

.billedbeskrivelse_2_ani {
    top: 79.5vw;
    left: 16vw;
    position: absolute;
    width: 34vw;
    font-size: 1.2rem;
    font-family: arial;
    /*    color: rgba(67, 91, 115);*/
    color: rgba(0, 0, 0, 0.83);
}


.opgave_2_pattern_1 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 79vw;
    right: 0vw;
    position: absolute;
    width: 45.5vw;
    height: 27vw;
    border-bottom-left-radius: 14%;
    border-top-left-radius: 14%;
}

.opgave_2_pattern_2 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 78vw;
    right: 0vw;
    position: absolute;
    width: 90vw;
    height: 29vw;
    border-bottom-left-radius: 10vw;
    border-top-left-radius: 10vw;
}

/*-------boks 3-------*/

.opgavebillede_3 {
    position: absolute;
    top: 120vw;
    left: 0vw;
    background-repeat: no-repeat;
    background-color: rgba(70, 162, 255, 0.49);
    border-radius: 12%;


}

.opgavebillede_3 img {
    background-repeat: no-repeat;
    border-top-right-radius: 12%;
    border-bottom-right-radius: 12%;
    height: 25vw;
}

.billedbeskrivelse_3 {
    top: 122.5vw;
    left: 48vw;
    position: absolute;
    width: 34vw;
    font-size: 1.2rem;
    font-family: arial;
    /*    color: rgba(67, 91, 115);*/
    color: rgba(0, 0, 0, 0.83);
}


.opgave_3_pattern_1 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 119vw;
    left: 0vw;
    position: absolute;
    width: 45.5vw;
    height: 27vw;
    border-bottom-right-radius: 14%;
    border-top-right-radius: 14%;
}

.opgave_3_pattern_2 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 118vw;
    left: 0vw;
    position: absolute;
    width: 90vw;
    height: 29vw;
    border-bottom-right-radius: 10vw;
    border-top-right-radius: 10vw;
}

/*-------boks 4-------*/
.opgavebillede_4 {
    position: absolute;
    top: 160vw;
    right: 0vw;
    background-repeat: no-repeat;
    background-color: rgba(70, 162, 255, 0.49);
    border-radius: 12%;


}

.opgavebillede_4 img {
    background-repeat: no-repeat;
    border-top-left-radius: 12%;
    border-bottom-left-radius: 12%;
    height: 25vw;
}

.billedbeskrivelse_4 {
    top: 162.5vw;
    left: 16vw;
    position: absolute;
    width: 34vw;
    font-size: 1.2rem;
    font-family: arial;
    /*    color: rgba(67, 91, 115);*/
    color: rgba(0, 0, 0, 0.83);
}


.opgave_4_pattern_1 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 159vw;
    right: 0vw;
    position: absolute;
    width: 45.5vw;
    height: 27vw;
    border-bottom-left-radius: 14%;
    border-top-left-radius: 14%;
}

.opgave_4_pattern_2 {
    background-color: rgba(70, 162, 255, 0.49);
    top: 158vw;
    right: 0vw;
    position: absolute;
    width: 90vw;
    height: 29vw;
    border-bottom-left-radius: 10vw;
    border-top-left-radius: 10vw;
}


/*-------boks 5-------*/

/*-------boks 6-------*/



















/*-------mobile media query-------*/
@media only screen and (max-width: 400px) {
    body {
        /*        background-color: rgba(70, 162, 255, 0.49);*/
    }

    /*-------baggrundsbillede forside mobile-------*/


    body,
    html {
        height: 235%;
        margin: 0;
        scroll-behavior: smooth;
    }



    .bg {
        /* The image used */
        background-image: url(billeder/forside_bg.jpg);
        /* Full height */
        height: 20%;

        /* Center and scale the image nicely */
        background-position: 40%;
        /*        background-position: center;*/
        background-repeat: no-repeat;
        background-size: cover;
        /*    position: absolute;*/
        z-index: 1;

    }



    /*-------navigationsmenu mobile-------*/

    .navbar {
        left: 0vw;
        top: 0vw;
        /*    overflow: hidden;*/
        background-color: rgba(70, 162, 255, 0.72);
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        border-bottom-right-radius: 6vw;


    }

    .navbar a {
        float: left;
        /*    font-size: 16px;*/
        font-size: 14px;
        color: white;
        text-align: center;
        /*    padding: 14px 16px;*/
        padding: 21px 7px;
        text-decoration: none;
    }

    .dropdown {
        float: left;
        /*    overflow: hidden;*/
        /*    position: absolute;*/
    }

    .dropdown .dropbtn {
        /*    font-size: 16px;*/
        font-size: 14px;
        border: none;
        outline: none;
        color: white;
        /*    padding: 14px 16px;*/
        padding: 21px 7px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: rgba(67, 91, 115, 0.53);
        /*    border-bottom-right-radius: 235vw;*/

    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(213, 228, 243, 0.72);
        min-width: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.23);
        /*
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
*/
        /*    z-index: 1;*/
    }

    .dropdown-content a {
        font-size: 21.25 px;
        float: none;
        color: black;
        padding: 3px 4px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        /*    background-color: #ddd;*/
        background-color: rgba(67, 91, 115, 0.53);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /*-----dropdown tema 4 mobile-----*/

    .dropdown_tema_4 {
        float: left;
        /*    padding: 0px 59px*/
    }

    .dropdown_tema_4 .dropbtn {
        font-size: 14px;
        border: none;
        outline: none;
        color: white;
        padding: 21px 7px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        padding-right: 20px
    }


    .dropdown_tema_4:hover .dropbtn {
        background-color: rgba(67, 91, 115, 0.53);
        border-bottom-right-radius: 6vw;

    }

    .dropdown_tema_4-content {
        display: none;
        position: absolute;
        background-color: #ce2e2e;
        min-width: 40px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.23);
        z-index: 1;
    }

    .dropdown_tema_4-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown_tema_4-content a:hover {
        background-color: #ddd;
    }

    .dropdown_tema_4:hover .dropdown-content {
        display: block;
    }

    /*-------velkomsttekst mobile-------*/

    .velkomsttekst {
        background-color: rgba(70, 162, 255, 0.49);

        top: 60vw;
        left: 10%;
        position: absolute;
        font-size: 13px;
        color: white;
        border-radius: 2.5vw;
        text-align: center;
        font-family: arial;
        padding: 2vw;
        width: 80vw;
    }

    .velkomsttekst:hover {
        background-color: rgba(70, 162, 255, 0.49);
    }



    /*
.velkomsttekst h1 {
    position: absolute;
    font-size: 100px;
    color: white;
}
*/
    .velkomsttekst h2 {
        font-size: 17px;
    }

    .velkomsttekst h3 {
        font-size: 17px;
    }


    /*-------mere om mig knap mobile-------*/

    /*
.mereommig {
    background-color: rgba(70, 162, 255, 0.49);

    top: 32vw;
    left: 5.6vw;
    position: absolute;
    border-radius: 2.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 2.7vw;
}
*/

    .mereommig {
        background-color: rgba(70, 162, 255, 0.49);

        top: 105vw;
        left: 10%;
        position: absolute;
        border-radius: 2.5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        height: 8.6vw;
        width: 80vw;
        text-align: center;
    }

    .mereommig a {
        font-size: 22px;
        font-family: arial;
        text-decoration: none;
        color: #ffffff;

    }

    .mereommig:hover {
        background-color: rgb(22, 130, 239);
        cursor: pointer;
    }

    /*
    #ommigsektion {
        font-family: arial;
        color: white;
    }
*/

    /*-------baggrundsmønster mobile-------*/

    .bgmønster {
        width: 100%;
        /*        background-color: rgba(213, 228, 243, 0.51);*/
    }

    /*-------mere om mig sektion mobile-------*/

    .profilbillede {
        position: absolute;
        top: 224.4vw;
        left: 13vw;
        background-repeat: no-repeat;
        background-color: rgba(70, 162, 255, 0.49);
        border-radius: 12%;


    }

    .profilbillede img {
        top: 276.4vw;
        left: 3vw;
        background-repeat: no-repeat;
        border-radius: 12%;
        height: 110vw;
    }

    .infotekst {
        top: 120vw;
        left: 1vw;
        position: absolute;
        width: 71vw;
        font-size: 19px;
        font-family: arial;
        color: white;
    }


    .profilbilledepattern1 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 220vw;
        left: 7vw;
        position: absolute;
        width: 85vw;
        height: 120vw;
        border-radius: 15vw;

    }

    .profilbilledepattern2 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 217vw;
        left: 3vw;
        position: absolute;
        width: 93vw;
        height: 237vw;
        border-radius: 15vw;

    }

    .kontaktpattern1 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 500vw;
        left: 3vw;
        position: absolute;
        width: 93vw;
        height: 75vw;
        border-radius: 15vw;

    }

    .kontakttekst {
        top: 505vw;
        left: 13vw;
        position: absolute;
        width: 71vw;
        font-size: 19px;
        font-family: arial;
        color: white;
    }

    .kontakttekst h4 {
        font-size: 19px;
        font-family: arial;
        color: white;
    }


    /*-------Tema 1,2,3,4 CSS mobile-------*/
    .bgmønstertema img {
        position: absolute;
        top: -4vw;
    }


    .temabeskrivelse h1 {
        position: absolute;
        top: 15vw;
        left: 47vw;
        font-family: arial;
        text-align: left;
        color: rgba(67, 91, 115);
    }

    .h1_underline {
        position: absolute;
        top: 20vw;
        left: 25vw;
        width: 50vw;
    }

    .temabeskrivelse p {
        position: absolute;
        top: 23vw;
        left: 28vw;
        font-family: arial;
        text-align: left;
        color: rgba(67, 91, 115);
        font-size: 1.5rem;
        width: 44vw;
    }

    .temabeskrivelse_top {
        position: absolute;
        top: 52vw;
        left: 11vw;
        font-family: arial;
        text-align: left;
        color: rgba(67, 91, 115);
        font-size: 0.9rem;
        width: 80vw;
    }

    .temabeskrivelse_top_tema3 {
        position: absolute;
        top: 42vw;
        left: 9vw;
        font-family: arial;
        text-align: left;
        color: rgba(67, 91, 115);
        font-size: 0.9rem;
        width: 80vw;
    }

    .h2_opgave_link a {
        position: absolute;
        top: 23vw;
        left: 42vw;
        font-family: arial;
        text-align: left;
        color: rgba(67, 91, 115);
        font-size: 1.5rem;

    }

    /*

.opgave_link_pattern {
    position: absolute;
    top: 23vw;
    left: 40vw;
    background-color: rgba(70, 162, 255, 0.30);
    border-radius: 50%;
    height: 3vw;
    width: 30vw;
}
*/


    /*
.splash {
    background-image: url(billeder/tema1/postmoderne/desktop.jpg);
    position: relative;
    top: 49vw;
    left: 0vw;
    height: 80%;
}
*/


    .opgavebeskrivelse_underline {
        position: absolute;
        top: 30vw;
        left: 25vw;
        width: 50vw;
    }

    .opgavebeskrivelse h1 {
        position: absolute;
        top: 20vw;
        left: 25vw;
        font-family: arial;
        text-align: center;
        color: rgba(67, 91, 115);
        font-size: 1rem;
    }

    .pilotbeskrivelse {
        position: absolute;
        top: 152vw;
        left: 11vw;
        margin: auto;
        font-family: arial;
        text-align: left;
        color: rgba(67, 91, 115);
        width: 80vw;
        font-size: 1.5rem;
    }

    .opgavebeskrivelse p {
        position: absolute;
        top: 43vw;
        left: 28vw;
        font-family: arial;
        text-align: left;
        color: rgba(67, 91, 115);
        font-size: 1.5rem;
        width: 44vw;
    }

    .h2_opgave_link a {
        position: absolute;
        top: 35vw;
        left: 28vw;
        font-family: arial;
        text-align: left;
        color: rgba(67, 91, 115);
        font-size: 1rem;

    }

    /*-------boks 1-------*/

    .opgavebillede_1 {
        position: absolute;
        top: 190vw;
        left: 5.5vw;
        background-repeat: no-repeat;
        background-color: rgba(70, 162, 255, 0.49);
        border-radius: 12%;


    }

    .opgavebillede_1 img {
        background-repeat: no-repeat;
        border-radius: 12%;
        height: 50vw;
    }

    .billedbeskrivelse_1 {
        top: 245vw;
        left: 9vw;
        position: absolute;
        width: 82vw;
        font-size: 1rem;
        font-family: arial;
        /*    color: rgba(67, 91, 115);*/
        color: rgba(0, 0, 0, 0.83);
    }


    .opgave_1_pattern_1 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 188vw;
        left: 4vw;
        position: absolute;
        width: 92vw;
        height: 54vw;
        border-radius: 14%;
    }

    .opgave_1_pattern_2 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 187vw;
        left: 2vw;
        position: absolute;
        width: 96vw;
        height: 140vw;
        border-radius: 8%;

    }

    /*-------boks 2-------*/
    .opgavebillede_2 {
        position: absolute;
        top: 340vw;
        left: 5.5vw;
        background-repeat: no-repeat;
        /*        background-color: rgba(70, 162, 255, 0.49);*/
        border-radius: 12%;


    }

    .opgavebillede_2 img {
        background-repeat: no-repeat;
        border-radius: 12%;
        height: 50vw;
    }

    .billedbeskrivelse_2 {
        top: 395.5vw;
        left: 9vw;
        position: absolute;
        width: 82vw;
        font-size: 1rem;
        font-family: arial;
        /*    color: rgba(67, 91, 115);*/
        color: rgba(0, 0, 0, 0.83);
    }

    .billedbeskrivelse_2_ani {
        top: 395.5vw;
        left: 9vw;
        position: absolute;
        width: 82vw;
        font-size: 1rem;
        font-family: arial;
        /*    color: rgba(67, 91, 115);*/
        color: rgba(0, 0, 0, 0.83);
    }


    .opgave_2_pattern_1 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 338vw;
        left: 4vw;
        position: absolute;
        width: 92vw;
        height: 54vw;
        border-radius: 14%;
    }

    .opgave_2_pattern_2 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 337vw;
        left: 2vw;
        position: absolute;
        width: 96vw;
        height: 175vw;
        border-radius: 8%;

    }

    /*-------boks 3-------*/
    .opgavebillede_3 {
        position: absolute;
        top: 537vw;
        left: 5.5vw;
        background-repeat: no-repeat;
        background-color: rgba(70, 162, 255, 0.49);
        border-radius: 12%;


    }

    .opgavebillede_3 img {
        background-repeat: no-repeat;
        border-radius: 12%;
        height: 50vw;
    }

    .billedbeskrivelse_3 {
        top: 590.5vw;
        left: 9vw;
        position: absolute;
        width: 82vw;
        font-size: 1rem;
        font-family: arial;
        /*    color: rgba(67, 91, 115);*/
        color: rgba(0, 0, 0, 0.83);
    }


    .opgave_3_pattern_1 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 535vw;
        left: 4vw;
        position: absolute;
        width: 92vw;
        height: 54vw;
        border-radius: 14%;
    }

    .opgave_3_pattern_2 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 534vw;
        left: 2vw;
        position: absolute;
        width: 96vw;
        height: 180vw;
        border-radius: 8%;

    }

    /*-------boks 4-------*/
    .opgavebillede_4 {
        position: absolute;
        top: 730vw;
        left: 5.5vw;
        background-repeat: no-repeat;
        background-color: rgba(70, 162, 255, 0.49);
        border-radius: 12%;
        width: 90vw;


    }

    .opgavebillede_4 img {
        background-repeat: no-repeat;
        border-radius: 12%;
        height: 50vw;
    }

    .billedbeskrivelse_4 {
        top: 785vw;
        left: 9vw;
        position: absolute;
        width: 82vw;
        font-size: 1rem;
        font-family: arial;
        /*    color: rgba(67, 91, 115);*/
        color: rgba(0, 0, 0, 0.83);
    }


    .opgave_4_pattern_1 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 728vw;
        left: 4vw;
        position: absolute;
        width: 92vw;
        height: 54vw;
        border-radius: 14%;
    }

    .opgave_4_pattern_2 {
        background-color: rgba(70, 162, 255, 0.49);
        top: 727vw;
        left: 2vw;
        position: absolute;
        width: 96vw;
        height: 160vw;
        border-radius: 8%;

    }

    /*-------boks 5-------*/

    /*-------boks 6-------*/
